<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- Bootstrap Css -->
	<link rel="stylesheet" type="text/css" href="css/bootstrap.css">
    <!-- Customs Css -->
    <link rel="stylesheet" href="css/styles.css">

    <!-- Bootstrap js -->
    <script type="text/javascript" src="css/bootstrap.min.js"></script>
    <script type="text/javascript" src="css/jquery-3.6.0.min.js"></script>

    <title>Tech Solution</title>
</head>
<body>
    <header>
        <!-- Navbar header -->
		<nav class="navbar navbar-expand-md navbar-light bg-light">
            <!-- Navbar Brand -->
                <span class="navbar-brand h1">TechSolution</span>
                <button type="button" class="navbar-toggler" data-toggle="collapse" data-target="#newsBlog" data-control="newsBlog" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
                </button>
                <div class="collapse navbar-collapse font-weight-bold justify-content-end" id="newsBlog">
                    <div class="navbar-nav">
                        <a href="/" class="nav-item nav-link">Home</a>
                        <a href="about" class="nav-item nav-link">About</a>
                        <a href="contact" class="nav-item nav-link">Contact</a>
                    </div>
                </div>
        </nav>
    </header>
    
    
