<%- include('partials/header') %>

<div class="container-fluid">
    <h2>About Us</h2>
    <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Illo, molestias.</p>

    <h2>Npp IMF dey funny some people</h2>
</div>

<%- include('partials/footer') %>
