<%- include('partials/header') %>

<div class="container-fluid">
    <div class="jumbotron">
        <h2 class="text-capitalize">Welcome to the place of comfort</h2>
        <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Esse inventore quo suscipit cupiditate, neque doloremque accusantium obcaecati pariatur consequuntur ratione?</p>
        <a href="#" role="button"><button class="btn btn-outline-primary">Click here</button></a>
    </div>
</div>

<div class="container-fluid">
    <div class="row">
        <div class="col-md-4">
            <h2>Tech Consults</h2>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Deleniti ullam nulla rerum nisi perspiciatis a ut facilis porro quibusdam deserunt! Ad unde dicta earum blanditiis, nisi vero illum voluptatem ipsa?</p>
        </div>

        <div class="col-md-4">
            <h2>Hardware Issue</h2>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Deleniti ullam nulla rerum nisi perspiciatis a ut facilis porro quibusdam deserunt! Ad unde dicta earum blanditiis, nisi vero illum voluptatem ipsa?</p>
        </div>

        <div class="col-md-4">
            <h2>Softwaree Issues</h2>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Deleniti ullam nulla rerum nisi perspiciatis a ut facilis porro quibusdam deserunt! Ad unde dicta earum blanditiis, nisi vero illum voluptatem ipsa?</p>
        </div>
    </div>

        
</div>

<%- include('partials/footer') %>
